.people-social__link {
  padding: 12px 12px;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-radius: 44px;
    background-color: #2196f3;
  }
  &:hover .people-social__icon,
  &:focus .people-social__icon {
    fill: #ffffff;
  }
}
.people-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.people-social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.people-social__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.people-social__icon {
  fill: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-social__icon--footer {
  fill: #ffffff;
}
