:root {
  --main-title-color: #ffffff;
  --logo-first-part-color: #2196f3;
  --logo-second-part-color: #000000;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-btn-color: #2196f3;
  --header-text-color: #212121;
  --hero-bord: #2f303a;
  --portfolio-button-background-color: #f5f4fa;
}
